.slider,
.slide-content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 500px;
    overflow-x: hidden;
}

.slide {
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.slide1 {  
    background-image: url(pic1.jpg);
}

.slide2 {
    background-image: url(pic2.jpg);
}

.slide3 {
    background-image: url(pic3.jpg);
}

.slide4 {
    background-image: url(pic4.jpg);
}

.slide5 {
    background-image: url(pic5.jpg);
}

.slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slide-content span {
    font-size: 5rem;
    color: red;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width: 0;
    height: 0;
    border-style: solid;
}

#arrowLeft {
    border-width: 30px 40px 30px 0;
    border-color: red;
    left: 0;
    margin-left: 30px;
}

#arrowRight {
    border-width: 30px 40px 30px 0;
    border-color: red;
    right: 0;
    margin-right: 30px;
}